<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

<!-- 		<property name="connection.url">jdbc:postgresql://192.168.40.113:5432/bus_info</property>  -->
<!-- 		<property name="connection.username">bus</property> <property name="connection.password">bus123</property>  -->
		
		<property name="connection.url">jdbc:postgresql://localhost:5432/auth_test</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
	
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<!-- property name="hibernate.dialect">org.hibernate.spatial.dialect.postgis.PostgisDialect</property -->
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<property name="validationQuery">SELECT 1</property>
		<property name="testOnBorrow">true</property>

		<property name="hibernate.c3p0.acquire_increment">1</property>
		<property name="hibernate.c3p0.validate">true</property>
		<property name="hibernate.c3p0.idle_test_period">20</property> <!-- seconds -->
		<property name="hibernate.c3p0.max_size">5</property>
		<property name="hibernate.c3p0.max_statements">100</property>
		<property name="hibernate.c3p0.min_size">2</property>
		<property name="hibernate.c3p0.timeout">90</property> <!-- seconds -->
		<!-- JDBC connection pool (use the built-in) <property name="connection.pool_size">3</property> -->
		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create the database schema on startup, validate\update\create\create-drop -->
		<property name="hibernate.hbm2ddl.auto">update</property>

		<mapping class="cn.sibat.hibernate.dao.model.TestUser" />
		<mapping class="cn.sibat.hibernate.dao.model.TestStudent" />
<!-- 		<mapping class="cn.sibat.auth.model.Role" /> -->
<!-- 		<mapping class="cn.sibat.auth.model.RolePrivilege" /> -->
<!-- 		<mapping class="cn.sibat.auth.model.Token" /> -->
<!-- 		<mapping class="cn.sibat.auth.model.UserRole" /> -->
		
		
	</session-factory>

</hibernate-configuration>